/*START MAIN RULES*/

* {

  margin: 0;

  padding: 0;

  outline: none;

  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: "Poppins", Sans-Serif;

}

:root {

  --main-color: #3D58F3;

  --text-color: #000;

  --ntext-color: #FFF;

  --background-color: #FFF;

  --nbackground-color: #212121;

}

body {overflow-x: hidden;background-color: var(--main-color);}

img {pointer-events: none;}

/*END MAIN RULES*/

/*START HEADER*/

header {overflow: hidden;}

nav {

  width: 100%;

  height: 60px;

  line-height: 60px;

  display: flex;

  position: fixed;

  z-index: 2;

  justify-content: space-around;

  box-shadow: 0 0 20px #00000060;

  background-color: var(--background-color);

}

nav.night {background-color: var(--nbackground-color);}

.logo a {

  font-family: "Lobster", "Poppins", Sans-Serif;

  color: var(--main-color);

  text-decoration: none;

  cursor: pointer;

  position: relative;

  animation: logo .8s ease-out;

}

.logo a.active {font-size: 24px;}

.main-links {list-style: none;display: flex;}

.main-links li {

  display: flex;

  margin-left: 30px;

  position: relative;

  animation: links .8s ease-out;

}

.main-links li a {

  color: var(--text-color);

  cursor: pointer;

  text-decoration: none;

}

.main-links li a::after {

  content: "";

  height: 2px;

  width: 0%;

  display: block;

  bottom: 10px;

  position: absolute;

  z-index: 2;

  border-radius: 150px;

  transition: width .2s linear;

  background-color: var(--main-color);

}

.main-links li a.active::after {width: 100%;}

.main-links li a:hover::after {width: 100%;}

.main-links li a.night {color: var(--ntext-color);}

.burger {display: none;margin-top: 18px;}

.burger * {

  width: 25px;

  height: 3px;

  margin: 4px auto 0;

  position: relative;

  background-color: var(--main-color);

}

.burger .line1,

.burger .line3 {transition: transform .3s linear;}

.burger .line2 {transition: width .3s linear;}

.burger .line1.active {transform: translateY(7px) rotate(-45deg);}

.burger .line2.active {width: 0;}

.burger .line3.active {transform: translateY(-7px) rotate(45deg);}

.fa-cog {

  cursor: pointer;

  margin-top: 22px;

  color: var(--main-color);

  font-size: 1.2rem;

  position: relative;

  animation: cog .8s ease-out;

}

.fa-cog.active::after {

  content: '';

  position: absolute;

  border-width: 10px;

  border-style: solid;

  border-color: transparent transparent var(--background-color) transparent;

  top: 38px;

  right: 0px;

  z-index: 1;

  pointer-events: none;

}

.fa-cog.active.night::after {border-color: transparent transparent var(--nbackground-color) transparent;}

.settings-box {

  background-color:  var(--background-color);

  border-radius: 20px;

  width: 300px;

  padding: 10px;

  position: fixed;

  text-align: center;

  right: 20px;

  top: 80px;

  z-index: 1;

  opacity: 0;

  pointer-events: none;

  border: 1px solid #CCC;

}

.settings-box.active {opacity: 1;pointer-events: all;}

.settings-box.night {background-color: var(--nbackground-color);}

.settings-box p {

  display: inline-block;

  margin: 10px 5px 20px 0;

  color: var(--text-color);

}

.settings-box p.night {color: var(--ntext-color);}

.settings-box input {

  background-color: #CCC;

  width: 45px;

  height: 20px;

  appearance: none;

  border-radius: 150px;

  position: relative;

  margin: 0 0 -5px 5px;

  cursor: pointer;

  transition: all .2s linear;

}

.settings-box input::after {

  content: "";

  position: absolute;

  border-radius: 60%;

  width: 16px;

  height: 16px;

  top: 2px;

  left: 2px;

  cursor: pointer;

  transition: all .2s linear;

  background-color: var(--background-color);

}

.settings-box input:checked {background-color: var(--main-color);}

.settings-box input:checked::after{left: 27px;}

.settings-box input.night::after {background-color: var(--nbackground-color);}

.settings-box ul {

  text-align: center;

  margin: 0 30px 10px;

  display: flex;

  justify-content: space-around;

  list-style: none;

}

.settings-box ul li {

  height: 20px;

  width: 20px;

  cursor: pointer;

  border-radius: 70%;

}

.settings-box ul li:nth-child(1) {background-color: #3D58F3;}

.settings-box ul li:nth-child(2) {background-color: #EA2027;}

.settings-box ul li:nth-child(3) {background-color: #44bd32;}

.settings-box ul li:nth-child(4) {background-color: #be2edd;}

.settings-box ul li:nth-child(5) {background-color: #d35400;}

.burger-container {

  width: 100%;

  position: fixed;

  background-color: var(--background-color);

  text-align: center;

  z-index: 1;

  top: -95px;

  display: none;

  box-shadow: 0 0 20px #00000060;

  transition: top .3s ease-out;

}

.burger-container.active {top: 60px;}

.burger-container.night {background-color: var(--nbackground-color);}

.burger-container .small-links {list-style: none;}

.burger-container .small-links li {margin: 15px;}

.burger-container .small-links li a {text-decoration: none;color: var(--main-color);}

.header {

  display: flex;

  position: relative;

  height: 600px;

  width: 100%;

}

.header-left {

  flex: 2;

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  background-color: var(--background-color);

}

.header-left.night {background-color: var(--nbackground-color);}

.header-left p {

  color: var(--text-color);

  position: relative;

  font-size: 30px;

  animation: info .8s ease-out;

}

.header-left p.night {color: var(--ntext-color);}

.header-left h1 {

  color: var(--main-color);

  font-size: 3rem;

  position: relative;

  animation: info .5s ease-out;

}

.header-right {

  flex: 1;

  display: flex;

  justify-content: center;

  align-items: center;

  position: relative;

  background-color: var(--main-color);

}

.header-right ul {

  right: 20%;

  position: absolute;

  z-index: 1;

  list-style: none;

}

.header-right ul li {

  color: #FFF;

  margin: 15px 0;

  font-size: 1.5rem;

  cursor: pointer;

  text-align: center;

  position: relative;

  animation: socialLinks .8s ease-out;

}

.header-img {

  position: absolute;

  right: 10%;

  bottom: 0;

  animation: img .8s ease-out;

}

/*END HEADER*/

/*START ABOUT*/

.about {

  top: -1px;

  padding: 10px;

  position: relative;

  height: 700px;

  overflow: hidden;

  background-color: var(--background-color);

}

.about.night {background-color: var(--nbackground-color);}

.about .about-h.apear {transform: translateY(0px);opacity: 1;}

.about-container {

  display: flex;

  justify-content: space-around;

  margin-top: 100px;

}

.about-container .about-left img {

  width: 300px;

  height: 300px;

  border-radius: 20px;

  position: relative;

  opacity: 0;

  transform: translateX(-100px);

  transition: all 1s ease-out;

}

.about-container .about-left img.apear {opacity: 1;transform: translateX(0px);}

.about-container .about-right {padding-top: 20px;}

.about-container .about-right h2 {

  position: relative;

  opacity: 0;

  transform: translateX(100px);

  transition: all 1s ease-out;

}

.about-container .about-right h2.apear {opacity: 1;transform: translateX(0px);}

.about-container .about-right h2.night {color: var(--ntext-color);}

.about-container .about-right h2 span {font-size: 2rem;color: var(--main-color);}

.about-container .about-right p {

  position: relative;

  opacity: 0;

  transform: translateX(100px);

  transition: all 1s ease-out .5s;

}

.about-container .about-right p.apear {opacity: 1;transform: translateX(0px);}

.about-container .about-right p.night {color: var(--ntext-color);}

.about-container .about-right p i {color: var(--main-color);}

/*END ABOUT*/

/*START PORTFOLIO*/

.portfolio {

  top: -2px;

  padding: 10px;

  position: relative;

  height: 800px;

  overflow: hidden;

  background-color: var(--background-color);

}

.portfolio.night {background-color: var(--nbackground-color);}

.portfolio .portfolio-h.apear {opacity: 1;transform: translateY(0px);}

.portfolio-gallery {

  display: grid;

  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;

  grid-row-gap: 50px;

  grid-template-areas: 

  ". img1 . img2 ."

  ". img3 . img4 .";

  opacity: 0;

  transform: translateY(-100px);

  transition: all 1s ease-out .5s;

}

.portfolio-gallery.apear {opacity: 1;transform: translateY(0px);}

.portfolio-gallery .img {

  position: relative;

  overflow: hidden;

  border-radius: 10px;

}

.portfolio-gallery .img:nth-child(1) {grid-area: img1;}

.portfolio-gallery .img:nth-child(2) {grid-area: img2;}

.portfolio-gallery .img:nth-child(3) {grid-area: img3;}

.portfolio-gallery .img:nth-child(4) {grid-area: img4;}

.portfolio-gallery img {

  width: 300px;

  height: 200px;

  position: relative;

  border-radius: 10px;

}

/*END PORTFOLIO*/

/*START CONTACT*/

.contact {

  position: relative;

  top: -3px;

  padding-top: 10px;

  overflow: hidden;

  height: 750px;

  background-color: var(--background-color);

}

.contact.night {background-color: var(--nbackground-color);}

.contact .contact-h.apear {opacity: 1;transform: translateY(0px);}

.contact form {

  display: grid;

  grid-template-columns: 1fr 2fr 2fr 1fr;

  grid-template-areas: 

  ". inpt1 inpt2 ."

  ". inpt3 inpt3 ."

  ". text text ."

  ". inpt4 inpt4 .";

  opacity: 0;

  transform: translateY(-100px);

  transition: all 1s ease-out .5s;

}

.contact form.apear {opacity: 1;transform: translateY(0px);}

.contact form input {

  position: relative;

  font-size: 2rem;

  padding: 10px;

  width: 100%;

  margin: 10px 0;

  background-color: transparent;

  border: 1px solid var(--main-color);

  border-radius: 10px;

}

.contact form input:nth-child(1) {grid-area: inpt1;margin-right: 10px;width: 97%;}

.contact form input:nth-child(2) {grid-area: inpt2;margin-left: 10px;width: 97%;}

.contact form input:nth-child(3) {grid-area: inpt3;}

.contact form input:nth-child(5) {

  grid-area: inpt4; 

  color: var(--main-color);

  border: 1px solid var(--main-color);

  transition: all .3s linear;

  margin-top: 20px;

}

.contact form input:nth-child(5):hover {background-color: var(--main-color);color: var(--ntext-color);}

.contact form textarea {

  grid-area: text;

  position: relative;

  height: 200px;

  width: 100%;

  font-size: 2rem !important;

  padding: 10px;

  margin-top: 10px !important;

  background-color: transparent;

  border-radius: 10px;

  border: 1px solid var(--main-color);

}

.contact form input.night,

.contact form textarea.night{color: var(--ntext-color);}

/*END CONTACT*/

/*START FOOTER*/

footer {

  background-color: var(--main-color);

  top: -4px;

  height: 100px;

  position: relative;

  display: flex;

  justify-content: space-around;

  align-items: center;

  font-size: 1.5rem;

  color: #FFF;

}

footer ul {

  list-style: none;

  display: flex;

  justify-content: space-around;

}

footer ul li {margin-left: 30px;}

/*END FOOTER*/

/*START COLLECTIONS*/

.about .about-h,

.portfolio .portfolio-h,

.contact .contact-h {

  text-align: center;

  color: var(--main-color);

  font-size: 3rem;

  position: relative;

  margin: 60px auto;

  opacity: 0;

  transform: translateY(-100px);

  transition: all 1s ease-out;

}

.about .about-h::after,

.portfolio .portfolio-h::after,

.contact .contact-h::after {

  content: '';

  width: 210px;

  height: 3px;

  left: 50%;

  transform: translateX(-50%);

  display: block;

  position: absolute;

  border-radius: 150px;

  background-color: var(--main-color);

}

/*END COLLECTIONS*/

/*START KEYFRAMES*/

@keyframes logo {

  0% {left: -100px;opacity: 0;}

  100% {left: 0;opacity: 1;}

}

@keyframes links {

  0% {top: -100px;opacity: 0;}

  100% {top: 0;opacity: 1;}

}

@keyframes cog {

  0% {right: -100px;opacity: 0;}

  100% {right: 0;opacity: 1;}

}

@keyframes socialLinks {

  0% {right: -100px;opacity: 0;}

  100% {right: 0;opacity: 1;}

}

@keyframes info {

  0% {left: -100px;opacity: 0;}

  100% {left: 0;opacity: 1;}

}

@keyframes img {

  0% {bottom: -100px;opacity: 0;}

  100% {bottom: 0;opacity: 1;}

}

/*END KEYFRAMES*/

/*START MEDIA QUERY*/

@media screen and (max-width:760px) {

  .header-img {height: 300px;right: 12%;}

  .portfolio-gallery {

  display: grid;

  grid-template-columns: 1fr 6fr 1fr 6fr 1fr;

  grid-row-gap: 100px;

  grid-template-areas: 

  ". img1 . img2 ."

  ". img3 . img4 .";

  }

}

@media screen and (max-width:480px){

  .main-links {display: none;}

  .burger {display: block;}

  .burger-container {display: block;}

  .header-left {padding-left: 10px;}

  .header-left p {font-size: 20px;}

  .header-left h1 {font-size: 2rem;}

  .header-img {height: 250px;right: -15px;}

  .about{height: 500px;}

  .about-container .about-left img {width: 170px;height: 170px;}

  .about-container .about-right {padding-top: 5px;margin-left: 10px;}

  .about-container .about-right h2 {font-size: 10px;}

  .about-container .about-right h2 span {font-size: 20px;}

  .about-container .about-right p {font-size: 11px;}

  .portfolio {height: 1200px;}

  .portfolio-gallery {

    display: grid;

    grid-template-columns: 1fr 10fr 1fr;

    grid-row-gap: 50px;

    grid-template-areas: 

    ". img1 ."

    ". img2 ."

    ". img3 ."

    ". img4 .";

  }

  .contact {height: 770px;}

  .contact form {

    display: grid;

    grid-template-columns: 1fr 8fr 1fr;

    grid-template-areas: 

    ". inpt1 ."

    ". inpt2 ."

    ". inpt3 ."

    ". text ."

    ". inpt4 .";

  }

  .contact form input:nth-child(1) {margin-right: 0;width: 100%;}

  .contact form input:nth-child(2) {margin-left: 0;width: 100%;}

  footer {height: 60px;font-size: .8rem;}

  footer ul li {margin-left: 20px;}

}

/*END MEDIA QUERY*/

/*762 => 514 Lines

/*14.97 => 13.22 Storage
